<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" con3tent="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>菜菜徐影院</title>
  
    <!-- 引入样式文件 -->
    <link rel="stylesheet"href="https://fastly.jsdelivr.net/npm/vant@3/lib/index.css"/>
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    
    <script src="https://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="https://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://coldfront.gitee.io/caicaixu/main.css">
    <link rel="stylesheet" href="https://coldfront.gitee.io/caicaixu/caicai.css">
    

</head>
<body >

<script src="https://fastly.jsdelivr.net/npm/vue@3"></script>
<script src="https://fastly.jsdelivr.net/npm/vant@3/lib/vant.min.js"></script>

<div id='app'>
    
    <van-sticky >
        <van-notice-bar scrollable="true"   left-icon="volume-o" text="感谢您的使用，如有任何问题，邮箱联系站长"></van-notice-bar>
        <div>
            <van-search v-model="selectUrl" shape="round" background="#4fc08d" placeholder="粘贴网页播放地址点击播放"  show-action >
            <template #action>
                <select v-model="selected">
                    <option v-for="(value,index) in urlsObject" :key="index" :value="value.url" v-text="value.text"></option>
                </select>
            </template>
            </van-search>
        </div>
    </van-sticky>    
        <div style="margin-top: 40px;">
            <van-row type="flex" justify="space-between">
                <van-col span="6" > <van-button type="primary" @click="play"><span class="glyphicon glyphicon-play-circle" aria-hidden="true">播放</span></van-button></van-col>
                <van-col span="6"> <van-button type="primary"@click="showPopup"><span class="glyphicon glyphicon-cog" aria-hidden="true">接口</span></van-button></van-col>
                <van-col span="6"> <van-button type="primary" @click="getMoney()" v-text="des"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">微信小店（扫码查看）</span></van-button></van-col>
                <van-button type="primary" @click="eduflag=!eduflag;jiaochengSrc='https://7875-xu123-1257701916.tcb.qcloud.la/08ee76fb1959312c40ac09723e21fd61.mp4?sign=ff9e7351fa3c8ef694c944deac21d82d&t=1619515311'"><span class="glyphicon glyphicon-book" aria-hidden="true">教程</span></van-button>
            </van-row>
        </div>
        <div class="zan" v-show="flag">
            <van-image  :src="zanzhumaSrc"  v-show="flag">
                <template v-slot:loading>
                  <van-loading type="spinner" size="20" />
                </template>
              </van-image>
        </div>     
        <div style="text-align: center;" v-show="eduflag">
          
            <video v-show="eduflag" style="width:80rpx;height:50rpx;"  :src="jiaochengSrc" controls></video>
        </div>
   
    <!--弹出框内容-->
    <div v-show="danmushow">
        <van-popup  v-model="show" position="top" :style="{ height: '100px' }"   closeable close-icon="close">
          <van-cell-group>
            <van-field
              v-model="keyWords"
              label="密码"
              left-icon="https://cdn.jsdelivr.net/gh/coldfrontXu/movies/file-lock2.svg"
              type="password"
              placeholder="请填写密码"
            />
          </van-cell-group>
          <div style="margin-top: 25px;" v-show="danmushow">
            <van-row type="flex" justify="space-between"  >
              <van-col span="3.5"> <van-button type="primary" size="small" @click="getUrls" >确定</van-button></van-col>
             
              <van-col span="3.5"> <van-button type="danger" size="small" @click="cancel">取消</van-button></van-col>
            </van-row>
    
          </div>
        </van-popup>
      </div>   
    <!--iframe播放位置-->
    <main id="main-404-content" class="main-content-particle-js">
    
        <iframe name="iframes" v-if="ifrmeShow" id="palybox" :src="ifrmeUrl" allowtransparency="true" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
  
   </main>
    <!--描述信息-->
     <h4 style="color: blue;">适用于解析以下资源:</h4>
     <!--适用于一下平台-->
  
    <div style="text-align: center;margin-top: 20px;border: 3px dashed rgb(49, 156, 218);">
        <div style="margin-top:20px;">
            <van-row gutter="20" >
                <van-col span="6">
                    <van-image width="60" height="30" lazy-load   src="https://cdn.jsdelivr.net/gh/coldfrontXu/movies/aiqiyi.png">
                        <template v-slot:loading>
                            <van-loading type="spinner" size="20" />
                        </template>
                    </van-image>
                    <div>
                        <a href="https://www.iqiyi.com" style="color: green" target="_blank">爱奇艺</a>
                    </div>
                </van-col>
                <van-col span="6">
                    <van-image width="60" height="30"  lazy-load src="https://cdn.jsdelivr.net/gh/coldfrontXu/movies/tengxun.png">
                        <template v-slot:loading>
                            <van-loading type="spinner" size="20" />
                        </template>
                    </van-image>
                    <div>
                       <a href="https://v.qq.com" style="color: #31e4ca" target="_blank">腾讯视频</a>
                    </div>
                </van-col>
                <van-col span="6">
                    <van-image width="60" height="30"  lazy-load  src="https://cdn.jsdelivr.net/gh/coldfrontXu/movies/youku.png">
                        <template v-slot:loading>
                            <van-loading type="spinner" size="20" />
                        </template>
                    </van-image>
                    <div>
                         <a href="https://www.youku.com" style="color: #0d7fdf" target="_blank">优酷视频</a>
                    </div>
                </van-col>
                <van-col span="6">
                    <van-image width="60" height="30"  lazy-load  src="https://cdn.jsdelivr.net/gh/coldfrontXu/movies/bilibili.png">
                        <template v-slot:loading>
                            <van-loading type="spinner" size="20" />
                        </template>
                    </van-image>
                    <div>
                        <a href="https://www.bilibili.com" style="color: #f1146c" target="_blank">哔哩哔哩</a>
                    </div>
                </van-col>
            </van-row>
        </div>
    </div>
</div>



    <!-- <div id="preloader"> 
        <div id="loader"></div>
    </div>  -->
  
<script src="https://coldfront.gitee.io/caicaixu/index.js"></script>
<script src="https://coldfront.gitee.io/caicaixu/donghua.js"></script>

<!-- <script src="https://coldfront.gitee.io/caicaixu/plugins.js"></script> -->
<!-- <script src="https://coldfront.gitee.io/caicaixu/main.js"></script> -->
<!--免责声明-->

<div class="mian">
        <span><a href="https://cdn.jsdelivr.net/gh/coldfrontXu/movies/mian.txt" download="免责声明">免责声明:</a></span>
        <ol>
            <li>本脚本不做影视作品的下载和缓存,作品来源于网络，本脚本工具只负责网络接口的解析。</li>
            <li>上述文字和影视作品无必然联系，仅供使用者参考。</li>
            <li>上述脚本工具用于测试学习使用，如若本脚本工具无意中侵犯了某方的知识产权，告即及删除，邮箱:2211207925@qq.com。</li>
        </ol>
</div>
</div>


</body>

</html>
