<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<title>XZH在线解析播放工具</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style>
.zan img{
    height:200px;
    width:150px;
}
.zan{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.play{
    display:flex;
    justify-content: space-between;
}

</style>
</head>
<body>
<div id='app'>
    <input type="text" v-model="selectUrl" placeholder="粘贴网页播放地址即可解析" style="height: 25px;line-height: 25px;">
    <select v-model="selected">
        <option v-for="(value,index) in urlsObject" :key="index" :value="value.url" v-text="value.text"></option>
    </select>
    <div style="margin-top: 40px;">
        <div class="play">
           <div> <button type="button" @click="play">解析播放</button></div>
           <div> <button type="button" @click="getUrls">获取高质量接口</button></div>
           <div>  <button @click="getMoney()" >{{des}}</button></div>
        </div>
        <div class="zan">
            <img v-show="flag" src="http://m.qpic.cn/psc?/V53i6CBe1MDDya0UC8ez2apHRf2y0tyE/ruAMsa53pVQWN7FLK88i5p.e1HAmI2jDRhjlfdtZ8PEqVz*sw2ieOzEqniBV8MBJ9cDlA1NffSvH.laAxnzxeobJ8sYSEnsYp2.PjRecuG8!/b&bo=OATJBQAAAAADB9I!&rf=viewer_4" alt="赞助码">
            <p></p>
        </div>
        <button @click="eduflag=!eduflag">使用教程</button>
    </div>
   
    <div><img style="height: 300px;width:100%;" v-show="eduflag" src="http://a1.qpic.cn/psc?/V53i6CBe1MDDya0UC8ez2apHRf2y0tyE/ruAMsa53pVQWN7FLK88i5k49m9ani8c9Nw11qMPWo2bcuyQdOXWbh4QpZo6A1cGaHrOPNxWbeLBWZvf*fukv*nwbBEqACU33PmukZw*gokI!/b&ek=1&kp=1&pt=0&bo=bwXnAwAAAAADR.w!&tl=1&vuin=2211207925&tm=1609225200&sce=60-2-2&rf=viewer_4" alt=""></div>
</div>
<script>
   var vue=new Vue({
       el:"#app",
       data:{
        eduflag:false,
        flag:false,
        des:"打赏获取接口及无限量解析",
        selected:"https://jx.f41.cc/?url=",
        urls:[
       
        {
                url:" https://z1.m1907.cn/?jx=",
                text:"通用接口1"
         },
         {
                url:"http://jx.drgxj.com/?url=",
                text:"通用接口2"
         },
         {
                url:"http://jqaaa.com/jx.php?url=",
                text:"通用接口3"
            },
          {
                url:"https://vip.52jiexi.top/?url=",
                text:"解析速度可以"
            },
            {
                url:"https://api.yueliangjx.com/?url=",
                text:"接口4"
            },
            {
                url:"https://www.ckmov.vip/api.php?url= ",
                text:"接口5,速度可以"
            },
            {
                url:" https://www.qianyicp.com/jiexi/index.php?url= ",
                text:"蓝光超清解析"
            }
        ],
        url:[
            {
                url:"https://jx.f41.cc/?url=",
                text:"普通接口1"
            },
        ],
        urlsObject:[
        ],
        selectUrl:"",
        count:localStorage.getItem("count")==null?0:JSON.parse(localStorage.getItem("count"))
       },
       methods:{
           play(){

            if(localStorage.getItem("count")){
                console.log("已经有count")
                if(this.count>10){
                    alert("你的解析次数已用完!继续使用请联系管理员。")
                }
                else{
                    this.jiexi();
                }
                
            }
            else{
                localStorage.setItem("count",0);
                 this.jiexi()
            }

            
           },
           jiexi(){
                   if(this.selectUrl.includes("http")){
                    this.count=JSON.parse(localStorage.getItem("count"))+1;
                    localStorage.setItem("count",this.count);
                    window.location=this.selected+this.selectUrl;
                    document.title="vip解析"
                   
               }
               else{
                   alert("输入框内请粘贴需要解析的影视地址!");
               }  
           },
           getUrls(){
            var that=this;
            var keyWords=prompt("请输入管理员指令");
            if(that.urlsObject.length>2){
                alert("接口已经获取，请勿在获取")
            }
            else{
                if(/XZH/.test(keyWords)){
                    // console.log("进入");
                    this.urlsObject=this.url.concat(this.urls);
                    localStorage.setItem("count",0);
                }
                else{
                    alert("指令不正确，请联系管理员获取正确的指令，再来试试!")
                }
            }
           },
           getMoney(){
               this.flag=!this.flag;
               if(this.flag){
                   this.des="关闭"
               }
               else{
                   this.des="打赏获取接口及无限量解析"
               }
           }
       },
       mounted(){
           this.urlsObject=this.url;
           
       }
   })
</script>
</body>
</html>
